@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Tinos&display=swap');
@import "__slick.scss";
@import "__slick-theme.scss";

$blackMainColor : #273718;
$mainColor: #85A98D;
$textColor: #DEA05C;
$blackTextColor: #BB6C25;
$toolColor: #FEF9E0;

$firstFont: 'Tinos', serif;
$secondFont: 'Lora', serif;

@mixin burger-item($top) {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    top: $top;
}


*, *::after, *::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    font-family: $firstFont;
}
h2{
    color:$blackTextColor;
}
/////////
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    box-shadow: 0 0 10px 2px black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: $blackMainColor;
        z-index: 2;
    }
    .header__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;

        .header__logo{
            flex: 0 0 60px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            z-index: 3;
            img{
                max-width: 100%;
                display: block;
            }
        }

        .header__menu{
            .header__list{
                display: flex;
                position: relative;
                z-index: 2;
                li{
                    list-style: none;
                    margin: 0 0 0 10px;
                    .header__link{
                        text-transform: uppercase;
                        color:$blackTextColor;
                        font-size: 20px;
                        font-family: $secondFont;
                        font-style: italic;
                        transition: all .3s;
                        &:hover{
                            color:$textColor;
                            transition: all .3s;
                        }
                    }
                }
                
            }
        }

    }
}
//////////
.title{
    margin: 80px 0 0 0;
    position: relative;
    color: $blackTextColor;
    overflow: hidden;
    img.title__img{
        width: 100%;
        max-width: 100%;
        opacity: 0.1;
        height: 94vh;
    }
    .title__img-background{
        top: 0;
        width: 100%;
        position: absolute;
        background-color: rgba(70, 129, 83, 0.315);
        height: 94vh;
        h2{
            position: absolute;
            top: 50px;
            left: 100px;
            font-family: $secondFont;
            font-style: italic;
            font-size: calc(24px + 22 * (100vw / 1280));
        }
        p{
            
            font-weight: 700;
            position: absolute;
            bottom: 50px;
            left: 500px;
            font-family: $secondFont;
            font-size: calc(16px + 10 * (100vw / 1280));
            @media (max-width: 560px) {
                & {display: none;}
            }
        }
    }
    
}
//////////
section{
    &::before{
        content: '';
        display: block;
        height: 3px;
        width: 90%;
        background-color: $mainColor;
        margin: 100px auto 50px;
    }
    width: 100%;
    padding-top: 55px;
    margin-top: -55px;
    .info{
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        .info__text{
            
            margin: 0 7%;
            h2{
                font-size: calc(24px + 16 * (100vw / 1280));
            }
            p{
                margin: 10px 0 0 0;
                font-size: calc(20px + 5 * (100vw / 1280));
                line-height: 40px;
                text-align: justify;
                text-indent: 20px;
            }
        }
        img.info__img{
            margin: 0 7%;
            width: 100%;
            height: 100%;
            max-width: 350px;
            box-shadow: 10px 10px 20px black;
            transition: all .3s ease 0s;
            &:hover{
                transition: all .3s ease 0s;
                box-shadow: 15px 15px 25px black;
            }
        }
    }
    .slider{
        h2{
            text-align: center;
            font-size: calc(24px + 16 * (100vw / 1280));
        }
        .slider__main{
            max-width: 80%;
            margin: 40px auto;
            .slider__item{
                max-width: 90%;
                img{
                    cursor:grab;
                    width: 100%;
                    transition: all .3s ease 0s;
                    &:hover{
                        transition: all .3s ease 0s;
                        box-shadow: 5px 5px 20px black;
                }
                }
            }
        }
    }
    .comments{
        h2{
            text-align: center;
            font-size: calc(24px + 16 * (100vw / 1280));
        }
        .comments__main{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .comments__item{
                border-radius: 45px 10px;
                background-color:$mainColor;
                margin: 20px 0 ;
                width: 40%;
                .item__header{
                    background-color:$blackMainColor;
                    display: flex;
                    justify-content: space-between;
                    img{
                        margin: 10px;
                        max-width: 100px;
                        border-radius: 50%;
                        border: 2px solid goldenrod;
                    }
                    h2{
                        font-size: calc(25px + 16 * (100vw / 1280));
                        margin: 20px 50px 0 0;
                        font-style: italic;
                        color:goldenrod;
                    }
                }
                .item__text{
                    padding: 10px;
                    p{
                        font-size: calc(16px + 6 * (100vw / 1280));
                        line-height: 20pt;
                        font-style: italic;
                        text-align: justify;
                    }
                }
                
            }
        }
    }
}
form.form{
    box-shadow: 5px 5px 10px black;
    margin: 190px auto 100px;
    width: 80%;
    background-color:$mainColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &:hover{
        box-shadow: 10px 10px 20px black;
    }
    transition: all .3s;
    .form__title{
        color:$blackTextColor;
        font-family: $secondFont;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        font-size: calc(24px + 16 * (100vw / 1280));
        text-transform: uppercase;
        
        background-color: $blackMainColor;
        border-bottom: 7px solid $blackTextColor;
        margin: 0 0 20px 0;
    }
    .form__data{
        color:$blackTextColor;
        text-align: center;
        font-size: calc(16px + 8 * (100vw / 1280));
        font-weight: 700;
        input{
            font-size: calc(14px + 6 * (100vw / 1280));
            
            width: 90%;
            height: 40px;
            text-align: center;
            margin: 0 0 20px 0;
            color:$textColor;
            border: 2px solid $blackTextColor;
            padding: 10px;

            outline: none;
        }
    }
    .form__msg{
        font-weight: 700;
        color:$blackTextColor;
        text-align: center;
        font-size: calc(16px + 8 * (100vw / 1280));
        textarea{
            border: 2px solid $blackTextColor;
            font-size: calc(14px + 6 * (100vw / 1280));
            width: 90%;
            height: 50%;
            resize: none;
            color:$textColor;
            padding: 10px;

            outline: none;
        }
        button{
            border: 2px solid $blackTextColor;
            margin: 40px 0 200px 0;
            padding: 10px;
            width: 90%;
            font-size: calc(16px + 8 * (100vw / 1280));
            font-family:$firstFont;
            color:$blackTextColor;
            font-weight: 700;
            border-radius: 10px;
        }
    }
}
.footer{
    margin: 30px 0 0 0;
    background-color:$blackMainColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .footer__col{
        width: 40%;
        margin: 10px auto;

        .footer__links{
            p{
                font-size: calc(12px + 8 * (100vw / 1280));
                text-decoration: none;
                color:$textColor;
                line-height: 2em;
                a{  
                    text-decoration: none;
                    color:$textColor;
                    &:hover{
                        color:$blackTextColor;
                    }
                    transition: all .3s;
                }
            }
        }

        &::before{
            margin: auto;
            content:'';
            display: block;
            height: 3px;
            width: 80%;
            background-color:$blackTextColor;
            margin: 30px 0;
        }
    }

    .copyright{
        width: 100%;
        text-align: center;
        font-size: calc(12px + 8 * (100vw / 1280));
        background-color: #283120;
        font-weight: 700;
        padding: 10px 0;
        color: goldenrod;
    }
}
@media (max-width: 850px){
    .header{
        .header__body{
            .header__button{
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                position: relative;
                z-index: 3;
        
                &::before{
                    @include burger-item(0);
                }
                &::after{
                    @include burger-item(18px);
                }
                span{
                    @include burger-item(9px);
                }
            }
            .header__menu{
                position: fixed;
                top: -380px;
                left: 0;
                width: 100%;
                height: 380px;
                background-color: $mainColor;
                padding: 100px 0 0 0;
                .header__list{
                    display: block;
                    li{
                        margin: 30px 10px 20px 30px;
                        .header__link{
                            font-weight: 700;
                        }
                        &:first-child{ 
                            margin: 0px 10px 20px 30px;
                        }
                    }
                }
                &.active{
                    top:0;
                    border-bottom: 4px solid $blackTextColor;
                }
                transition: all .3s ease 0s;
                
            }
        }
    }
    .title{
        img.title__img{
            height: auto;
        }
        .title__img-background{
            text-align: center;
            h2{
                position: relative;
                left: 0;
                top: 10px;
            }
            p{
                position: relative;
                left: 0;
                bottom: 0;
                top: 20px;
            }
        }
    }
    section{
        &::before{
            margin: 20px auto;
        }
        .info{
            display: flex;
            flex-direction: column;
            .info__text{
                h2{
                    text-align: center;
                }
                p{
                    font-size: calc(16px + 8 * (100vw / 1280));
                }
            }
            img.info__img{
                max-width: 80%;
                margin: 10px 10%;
            }
        }
        .info2{
            display: flex;
            flex-direction: column-reverse;
            .info__text{
                h2{
                    text-align: center;
                }
                p{
                    font-size: calc(16px + 8 * (100vw / 1280));
                }
            }
            img.info__img{
                max-width: 80%;
                margin: 10px 10%;
            }
        }
        .comments{
            .comments__main{
                .comments__item{
                    width: 80%;
                }
            }   
        }
    }
    .footer{
        .footer__col{
            width: 80%;
        }
    }
}